[run]
omit = ixian_docker/tests/*, .tox/*, ixian_docker/conftest.py

[report]
show_missing = True
skip_covered = True

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError