# OSX System Files
.DS_Store


# virtualenv
.venv
venv

# Compiled Python Files
*.pyc


# Compiled package output
/build/
/dist/
ixian_docker.egg-info/
.builder
.image_created
.tox
.python-version
lib
.eggs
docs/_build/

# Emacs
.\#*
*~
\#*\#
.dir-locals.el

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Pycharm
.idea/

# Make
.sentinel
nosetests.xml
coverage/
.coverage

# test output
shared
cover

# Dotenv file
/.env

# Test cover files
cover/

# Ipython local settings
.ipython

# local bash history
.bash_history
